@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

<p>Click on one of the grid cells below to start a game!</p>

<br/>

<div id="gameTiles">
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
    <FluentButton Appearance="Appearance.Outline"></FluentButton>
</div>
